.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.DS_Store
_bookdown_files/
crc/*
tmp.*
vignettes/
rsconnect/
plotly_book.*
screenshots/
videos/
.httr-oauth
crossfilter/
crossfilter-compare/
crossfilter-reactlog/
images/
!docs/images
