/* Thanks hadley - https://github.com/hadley/r4ds/blob/master/r4ds.css */

.book .book-header h1 {
  opacity: 1;
  text-align: left;
  float: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}